<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
  <suite name="Bollosk Test Suit" configfailurepolicy="continue">


    <test name="Test_BuyTickets">
        <groups>
            <run>
                <include name="BuyTickets"/>
            </run>
        </groups>
        <classes>
            <class name="Selenium.LotBiletyEUcopy"/>
        </classes>
    </test> <!-- LOTests -->
</suite> <!-- Default Suite -->
