<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pozdro Dla Ekipy IT:)">
    <test name="LOTests">
        <groups>
            <run>
                <include name="p1"/>
            </run>
        </groups>
        <classes>
            <class name="LOT.LotBilety"/>
        </classes>
    </test> <!-- LOTests -->
</suite> <!-- Default Suite -->
